.container{

}

.mainAddButton{
  padding: 10px;
  margin: 20px;
  background-color: var(--primary-color);
  width: 150px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}