.container{
  padding: 50px;
  display: flex;
}

.item{
  flex: 1;
}

.table{
  width: 100%;
  text-align: left;
}

.button, .stageButton{
  border: none;
  color: white;
  padding: 2px 5px;
  cursor: pointer;
  margin-bottom: 4px;
}

.button:first-child, .stageButton{
  background-color: teal;
  margin-right: 10px;
}

.button:last-child{
  background-color: rgb(218, 36, 73);
}