.container{
  padding: 50px;
  display: flex;
}

.left{
  flex: 2;
}

.right{
  flex: 1;
}

.imgContainer{
  width: 100px;
  height: 100px;
  position: relative;
}

.imgContainer img{
  object-fit: cover;
}

.table{
  width: 100%;
  border-spacing: 20px;
}

.name{
  font-weight: 50;
  color: var(--primary-color);
  font-size: 1.1rem;
}

.total{
  font-weight: 500;
  font-size: 1.1rem;
}

.wrapper{
  width: 90%;
  max-height: 300px;
  background-color: #333;
  padding: 50px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  color: white
}

.title{
  margin-bottom: 20px;
}

.button{
  height: 30px;
  margin-top: 15px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--primary-color);
  border: none;
  color: white;
}

.paymentMethods{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.payButton{
  height: 40px;
  font-weight: bold;
  cursor: pointer;
  background-color: teal;
  border: none;
  color: white;
  margin-bottom: 5px;
  border-radius: 5px;
}

@media screen and (max-width: 992px){
  .container{
    flex-direction: column;
    padding: 15px;
  }

  .trTitle{
    display: none;
  }

  .tr{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .name, .total{
    font-size: 1.3rem;
    font-weight: bold;
  }

  .imgContainer{
    width: 30vw;
    height: 30vw;
  }

  .price, .quantity{
    font-size: 1rem;
  }

  .price::before{
    content: "Price: ";
  }
  .quantity::before{
    content: "Quantity: ";
  }
  .total::before{
    content: "Total: ";
  }

  .wrapper{
    width: 100%;
  }

  }