.container{
  padding: 50px;
  display: flex;
}

.left{
  flex:2;
  margin-right: 50px;
}

.table{
  width: 100%;
  text-align: left;
  margin-bottom: 50px;
}

.row:last-child{
  width: 80%;
  display: flex;
  justify-content: space-between;
}


.done{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inProgress{
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: inProgress 1s ease infinite alternate;
}

@keyframes inProgress {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.undone{
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.3;
}

.undone .checkedIcon, .inProgress .checkedIcon{
  display: none;
}

.right{
  flex:1;
}

.wrapper{
  width: 90%;
  max-height: 300px;
  background-color: #333;
  padding: 50px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  color: white
}

.title{
  margin-bottom: 20px;
}

.title{
  margin-bottom: 20px;
}

.button{
  height: 30px;
  margin-top: 15px;
  font-weight: bold;
  cursor: not-allowed;
  background-color: white;
  border: none;
  color: teal;
}

@media screen and (max-width: 992px){
  .container{
    flex-direction: column;
    padding: 25px;
  }

  .trTitle{
    display: none;
  }

  .tr{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .total{
    font-size: 1.2rem;
  }

  .id::before{
    content: "Order ID: ";
    font-weight: bold;
  }
  .name::before{
    content: "Name: ";
    font-weight: bold;
  }
  .address::before{
    content: "Address: ";
    font-weight: bold;
  }
  .total::before{
    content: "Total: ";
    font-weight: bold; 
  }

  .table{
    margin-bottom: 20px;
  }

  .row:last-child{
    width: 100%;
    margin-bottom: 15px;
  }

  .wrapper{
    width: 100%;
    padding: 25px;
  }
}