.container{
  padding: 50px;
  display: flex;
}

.left{
  flex:2;
}

.table{
  width: 100%;
  text-align: left;
  margin-bottom: 50px;
}

.row:last-child{
  width: 80%;
  display: flex;
  justify-content: space-between;
}


.done{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inProgress{
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: inProgress 1s ease infinite alternate;
}

@keyframes inProgress {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.undone{
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.3;
}

.undone .checkedIcon, .inProgress .checkedIcon{
  display: none;
}

.right{
  flex:1;
}

.wrapper{
  width: 90%;
  max-height: 300px;
  background-color: #333;
  padding: 50px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  color: white
}

.title{
  margin-bottom: 20px;
}

.title{
  margin-bottom: 20px;
}

.button{
  height: 30px;
  margin-top: 15px;
  font-weight: bold;
  cursor: not-allowed;
  background-color: white;
  border: none;
  color: teal;
}