.container{
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desc{
  font-size: 1.4rem;
  color: #444;
  width: 70%;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
  .title{
    text-align: center;
  }

  .desc{
    width: 90%;
    text-align: center;
  }

}