.container{
  width: 22%;
  padding: 5px 10px;
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.container:hover{
  box-shadow: rgb(108, 67, 67) 0px 2px 3px;
  cursor: pointer;
}

.title{
  font-size: 1.1rem;
  text-align: center;
  padding: 5px 0;
  color: #d1411e;
}

.price{
  font-size: 1.4rem;
  font-weight: bold;
  color: #666;
  padding: 5px 0;
}

.desc{
  text-align: center;
  padding: 5px 0;
  color: #666;
}

@media screen and (max-width: 992px) {
  .container{
    width: 100%;
  }

  .title{
    font-size: 2rem;
  }

  .price,
  .desc{
    font-size: 1.5rem;
  }

}